@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-size: 30px;
  --grid-color-light: rgba(0, 0, 0, 0.05);
  --grid-color-dark: rgba(255, 255, 255, 0.05);
}

body {
  background-size: var(--grid-size) var(--grid-size);
  background-image: 
    linear-gradient(var(--grid-color-light) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color-light) 1px, transparent 1px);
}

[data-theme="dark"] body {
  background-image: 
    linear-gradient(var(--grid-color-dark) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color-dark) 1px, transparent 1px);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
